* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header nav{
    background-color: #333;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1rem;
}

nav a:hover {
    background-color: #555;
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    flex: 1;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.about-me {
    background-color: #ddd;
    min-height: 180px;
}

.about-me h2, .student h2, .certificates h2 {
    background-color: #222;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    padding: 0.4rem;
}

.student {
    background-color: #ddd;
    text-align: center;
}

.student img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 1rem;
}

.certificates {
    grid-column: 1/3;
    background-color: white;
    width: 100%;
    min-height: 400px;

}

.certificates h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

#courses {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    padding: 1.5rem;
}

#courses div {
    padding: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    background-color: #ddd;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#courses .completed {
    background-color: white;
}

#total {
    font-weight: bold;
    font-size: 1.5rem;
}

.certificates {
    text-align: center;
}

.certificates button {
    padding: 15px 30px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.total {
    font-size: 1.5rem;
    padding: 1.5rem;
}