@media screen and (min-width: 600px) {
    .home {
        grid-template-columns: 2fr 1fr;
    }

    .certificates {
        grid-column: 1 / 3;
    }

    .student img {
        width: 150px;
        height: 150px;
    }

    #courses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}